In [336]:
# Install a pip package in the current Jupyter kernel
#import sys
#!pip install plotly

In [337]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.plotly as py
%matplotlib inline

In [338]:
data =pd.read_csv("data/train.csv")

In [339]:
data.head()

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,...,Medical_Keyword_40,Medical_Keyword_41,Medical_Keyword_42,Medical_Keyword_43,Medical_Keyword_44,Medical_Keyword_45,Medical_Keyword_46,Medical_Keyword_47,Medical_Keyword_48,Response
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,...,0,0,0,0,0,0,0,0,0,8
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,...,0,0,0,0,0,0,0,0,0,4
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,...,0,0,0,0,0,0,0,0,0,8
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,...,0,0,0,0,0,0,0,0,0,8
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,...,0,0,0,0,0,0,0,0,0,8

In [340]:
data.shape

(59381, 128)

In [341]:
data.isnull().any()

Id                     False
Product_Info_1         False
Product_Info_2         False
Product_Info_3         False
Product_Info_4         False
Product_Info_5         False
Product_Info_6         False
Product_Info_7         False
Ins_Age                False
Ht                     False
Wt                     False
BMI                    False
Employment_Info_1       True
Employment_Info_2      False
Employment_Info_3      False
Employment_Info_4       True
Employment_Info_5      False
Employment_Info_6       True
InsuredInfo_1          False
InsuredInfo_2          False
InsuredInfo_3          False
InsuredInfo_4          False
InsuredInfo_5          False
InsuredInfo_6          False
InsuredInfo_7          False
Insurance_History_1    False
Insurance_History_2    False
Insurance_History_3    False
Insurance_History_4    False
Insurance_History_5     True
                       ...
Medical_Keyword_20     False
Medical_Keyword_21     False
Medical_Keyword_22     False
Medical_Keyword_23     False
Medical_Keyword_24     False
Medical_Keyword_25     False
Medical_Keyword_26     False
Medical_Keyword_27     False
Medical_Keyword_28     False
Medical_Keyword_29     False
Medical_Keyword_30     False
Medical_Keyword_31     False
Medical_Keyword_32     False
Medical_Keyword_33     False
Medical_Keyword_34     False
Medical_Keyword_35     False
Medical_Keyword_36     False
Medical_Keyword_37     False
Medical_Keyword_38     False
Medical_Keyword_39     False
Medical_Keyword_40     False
Medical_Keyword_41     False
Medical_Keyword_42     False
Medical_Keyword_43     False
Medical_Keyword_44     False
Medical_Keyword_45     False
Medical_Keyword_46     False
Medical_Keyword_47     False
Medical_Keyword_48     False
Response               False
Length: 128, dtype: bool

In [342]:
data = data.fillna(" ")

In [343]:
data.isnull().any()

Id                     False
Product_Info_1         False
Product_Info_2         False
Product_Info_3         False
Product_Info_4         False
Product_Info_5         False
Product_Info_6         False
Product_Info_7         False
Ins_Age                False
Ht                     False
Wt                     False
BMI                    False
Employment_Info_1      False
Employment_Info_2      False
Employment_Info_3      False
Employment_Info_4      False
Employment_Info_5      False
Employment_Info_6      False
InsuredInfo_1          False
InsuredInfo_2          False
InsuredInfo_3          False
InsuredInfo_4          False
InsuredInfo_5          False
InsuredInfo_6          False
InsuredInfo_7          False
Insurance_History_1    False
Insurance_History_2    False
Insurance_History_3    False
Insurance_History_4    False
Insurance_History_5    False
                       ...
Medical_Keyword_20     False
Medical_Keyword_21     False
Medical_Keyword_22     False
Medical_Keyword_23     False
Medical_Keyword_24     False
Medical_Keyword_25     False
Medical_Keyword_26     False
Medical_Keyword_27     False
Medical_Keyword_28     False
Medical_Keyword_29     False
Medical_Keyword_30     False
Medical_Keyword_31     False
Medical_Keyword_32     False
Medical_Keyword_33     False
Medical_Keyword_34     False
Medical_Keyword_35     False
Medical_Keyword_36     False
Medical_Keyword_37     False
Medical_Keyword_38     False
Medical_Keyword_39     False
Medical_Keyword_40     False
Medical_Keyword_41     False
Medical_Keyword_42     False
Medical_Keyword_43     False
Medical_Keyword_44     False
Medical_Keyword_45     False
Medical_Keyword_46     False
Medical_Keyword_47     False
Medical_Keyword_48     False
Response               False
Length: 128, dtype: bool

In [344]:
data.shape

(59381, 128)

In [345]:
data.head()

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,...,Medical_Keyword_40,Medical_Keyword_41,Medical_Keyword_42,Medical_Keyword_43,Medical_Keyword_44,Medical_Keyword_45,Medical_Keyword_46,Medical_Keyword_47,Medical_Keyword_48,Response
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,...,0,0,0,0,0,0,0,0,0,8
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,...,0,0,0,0,0,0,0,0,0,4
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,...,0,0,0,0,0,0,0,0,0,8
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,...,0,0,0,0,0,0,0,0,0,8
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,...,0,0,0,0,0,0,0,0,0,8

In [346]:
data = data.drop(['Medical_History_10','Medical_History_24','Medical_History_32'], axis=1)

In [347]:
data['BMI_Age'] = data['BMI']*data['Ins_Age']

In [348]:
data[['BMI', 'Ins_Age', 'BMI_Age']].head()

        BMI   Ins_Age   BMI_Age
0  0.323008  0.641791  0.207304
1  0.272288  0.059701  0.016256
2  0.428780  0.029851  0.012799
3  0.352438  0.164179  0.057863
4  0.424046  0.417910  0.177213

In [349]:
data = pd.get_dummies(data, columns=['Product_Info_2'], prefix = ['Product_Info_2'])

In [350]:
data = data.drop(["Employment_Info_1", "Employment_Info_4", "Employment_Info_6", "Insurance_History_5", "Family_Hist_2", "Family_Hist_3", "Family_Hist_4", "Family_Hist_5", "Medical_History_1", "Medical_History_15", "Id"], axis=1)

In [351]:
data.head()

,Product_Info_1,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,...,Product_Info_2_B2,Product_Info_2_C1,Product_Info_2_C2,Product_Info_2_C3,Product_Info_2_C4,Product_Info_2_D1,Product_Info_2_D2,Product_Info_2_D3,Product_Info_2_D4,Product_Info_2_E1
0,1,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,...,0,0,0,0,0,0,0,1,0,0
1,1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,...,0,0,0,0,0,0,0,0,0,0
2,1,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,...,0,0,0,0,0,0,0,0,0,1
3,1,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,...,0,0,0,0,0,0,0,0,1,0
4,1,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,...,0,0,0,0,0,0,1,0,0,0

In [352]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [353]:
data.columns.get_loc("Response")

112

In [354]:
resp = data["Response"]
data.drop(labels=["Response"], axis=1,inplace = True)
data.insert(0, "Response", resp)

In [355]:
X, y = data.iloc[:,1:-1],data.iloc[:,1]

In [356]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

C:\Users\Antoine\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning:

Series.base is deprecated and will be removed in a future version

C:\Users\Antoine\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning:

Series.base is deprecated and will be removed in a future version

In [360]:
from sklearn.model_selection import train_test_split

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
test = pd.read_csv("test.csv") # load the testing data
ids = test[['Id']]
test.drop.(["Medical_History_10","Medical_History_24","Medical_History_32","Employment_Info_1", "Employment_Info_4", "Employment_Info_6", "Insurance_History_5", "Family_Hist_2", "Family_Hist_3", "Family_Hist_4", "Family_Hist_5","Medical_History_15", "Medical_History_1", "Id"], axis=1)
test = pd.get_dummies(test)

SyntaxError: invalid syntax (<ipython-input-360-6b507dbc09b9>, line 6)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(test)

In [ ]:
rmse = np.sqrt(mean_squared_error(ids, preds))
print("RMSE: %f" % (rmse))

In [ ]:
params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 5, 'alpha': 10}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=50,early_stopping_rounds=10,metrics="rmse", as_pandas=True, seed=123)

In [ ]:
cv_results.head()

In [ ]:
xg_reg = xgb.train(params=params, dtrain=data_dmatrix, num_boost_round=10)

In [ ]:
import os
os.environ["PATH"] += os.pathsep +r"C:\Users\Antoine\Anaconda3\Library\bin\graphviz"
import matplotlib.pyplot as plt

xgb.plot_tree(xg_reg,num_trees=0)
plt.rcParams['figure.figsize'] = [50, 10]
plt.show()

In [ ]:
xgb.plot_importance(xg_reg)
plt.rcParams['figure.figsize'] = [5, 5]
plt.show()

In [ ]:
results = ids.assign(Response = preds) # assign predictions to ids
results.to_csv("life_insurance-results.csv", index=False) # write the final dataset to a csv file.

In [ ]:
len(preds)

In [ ]:
pd.DataFrame({
    data2.Id,
    preds
})